@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  --light-grey: rgb(230, 230, 230);
  --grey: rgb(214, 214, 214);
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  --light-grey: rgb(230, 230, 230);
  --grey: rgb(214, 214, 214);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

.action-button {
  text-decoration: none;
  color: black;
  font-size: 14px;
  border-radius: 2rem;
  background-color: var(--light-grey);
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.action-button:hover {
  background-color: var(--grey);
}






.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cover-image {
  border: 1px solid red;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}








.homepage {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.homepage-buttons {
  margin: auto;
  display: flex;
  gap: 1rem;
}

.homepage h1 {
  font-size: 48px;
  margin: 0;
  font-weight: 800;
}

.homepage p {
  font-size: 16px;
}
